/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #ff8c00;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

header h1 {
    font-size: 2.5em;
    font-family: 'Cursive', sans-serif;
}

nav ul {
    list-style: none;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

/* Seção Convite */
.convite {
    background-color: #ffd700;
    padding: 60px 0;
    text-align: center;
}

.convite h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.chamada h3 {
    font-size: 2em;
    margin-top: 30px;
}

/* Seção Data da Festa */
.data {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
}

.data h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.data p {
    font-size: 1.5em;
    margin-top: 10px;
}

/* Seção Produtos */
.produtos {
    background-color: #fff;
    padding: 50px 0;
}

.produtos h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.produto {
    display: inline-block;
    width: 30%;
    margin: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.produto img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.produto h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.produto p {
    font-size: 1.2em;
    color: #555;
}

/* Seção Contato */
.contato {
    background-color: #ff8c00;
    padding: 50px 0;
}

.contato form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato input, .contato textarea {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.contato button {
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

footer p {
    font-size: 1em;
}
